* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

header {
    margin: 5px 0 0 5px;
}

#homepage-time {
    text-align: right;
    display: flex;
    justify-content: right;
    margin-right: 10px;
}

.container {
    text-align: center;
}

.btn {
    background-color: rebeccapurple;
    color: white;
    text-decoration: none;
    padding: 2px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

#start-quiz-btn {
    margin: 5px;
    padding: 10px;
    font-size: 15px;
    cursor: pointer;
}

#view-scores-btn {
    background: none;
    padding: 0;
    cursor: pointer;
    font-size: 20px;
    border: none;
}

.div-questions {
    position: absolute;
    left: 30vw;
}

.div-questions h3 {
    font-size: 30px;
}

#title {
    margin-bottom: 10px;
}

.questionBtn {
    border: none;
    background-color: rebeccapurple;
    color: white;
    padding: 3px 5px 3px 5px;
    margin: 2px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
}

#homepage p {

}

.all-done {
    visibility: hidden;
    position: absolute;
    left: 30vw;
}

.all-done h3 {
    font-size: 30px;
    margin-bottom: 15px;
}

#score {
    margin-bottom: 15px;
}

.all-done h5 {
    font-size: 20px;
    display: inline-block;
}

.initial-enter {
    display: inline-block;
}

#submit-btn {
    border: none;
    padding: 3px 5px 3px 5px;
    cursor: pointer;
}

.highscores-page {
    visibility: hidden;
    position: absolute;
    left: 30vw;
}

.highscores-page h2 {
    font-size: 30px;
    margin-bottom: 15px;
}

#highscores-list {
    margin-bottom: 15px;
}

#go-back-btn {
    padding: 3px 5px 3px 5px;
}

#clear-scores-btn {
    padding: 3px 5px 3px 5px;
}