* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#view-highscore {
    text-decoration: none;
    font-size: 20px;
    margin-left: 15px;
}

#homepage-time {
    text-align: right;
    display: flex;
    justify-content: right;
    margin-right: 10px;
}

.container {
    width: 100vw;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    margin: 0 auto;
    padding: 2rem;
}

h1 {
    font-size: 32px;
    margin-bottom: 2rem;
}

.btn {
    background-color: rebeccapurple;
    color: white;
    text-decoration: none;
    padding: 2px;
    border-radius: 5px;
}

#view-scores-btn {
    background: none;
    border:none;
    padding: 0;
    cursor: pointer;
    font-size: 20px;
}